*{
    margin: 0;
    padding: 0;
    color: white;
}

.nav{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: Arial;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.btn{
    background-color: darkcyan;
    box-shadow: 3px 3px 0 black;
}

.active{
    font-weight: bold;
}

a{
    text-decoration: none;
}